body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: rgb(7, 3, 24);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.webgl{
  position: fixed;
  top: 0;
  z-index: 1;
}

.page{
  color:  white;
  height: auto
}

.sec{
  height: 200vh;
  display: flex;
  justify-content: end;
}

.op{
  
}

.right-pane{
  background-color: rgba(119, 119, 119, 0.608);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  height: 50%;
  width: 50vw;
  padding: 20px;
}

@media (max-width: 600px) {
  .right-pane{
    width: 100vh;
  }
  
}